<?xml version="1.0"?>
<sdf version="1.9">
  <model name="my_bot">

    <!-- Diff drive plugin for Gazebo Ionic -->
    <plugin name="gz_diff_drive" filename="libgz-sim-diff-drive-system.so">
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <wheel_separation>0.35</wheel_separation>
      <wheel_radius>0.05</wheel_radius>   <!-- half the diameter -->

      <odom_topic>/odom</odom_topic>
      <cmd_vel_topic>/cmd_vel</cmd_vel_topic>
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>

      <max_linear_acceleration>10.0</max_linear_acceleration>
      <max_angular_acceleration>10.0</max_angular_acceleration>

      <publish_odom>true</publish_odom>
      <publish_tf>true</publish_tf>
    </plugin>

  </model>
</sdf>
